<header>
      <nav class="header-nav" >
        <a class="header-title"  href="/">BShop</a>
        <ul>
            <li ><a href="/products">Products</a></li>
            <li ><a href="/products/new">add Product</a></li>
        </ul>
      </nav>  

</header>