<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Holy Grail</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="header">
    <div class="header-left">BStore</div>
    <ul class="header-right">
      <li><a href="/cart/id">Cart</a></li>
      <li><a href="/user/id">User</a></li>
    </ul>
  </div>
  
  <div class="hero">
    <div class="sidebar">
      <ul>
        <li><a href="/products/electronics">⭐ - electronics</a></li>
        <li><a href="/products/books">🦸🏽‍♂️ - books</a></li>
        <li><a href="/products/cloths">🖌️ - cloths</a></li>
      </ul>
    </div>
  
    <div class="content">
      <div class="card">
        <div class="img-container"><img src="images/p1.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p2.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p3.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p4.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p5.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p6.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p7.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p8.jpg" alt=""></div>
        <div class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>
      <div class="card">
        <div class="img-container"><img src="images/p9.jpg" alt=""></div>
        <div class="card-description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, eveniet? Dolorem dignissimos maiores non delectus possimus dolor nulla repudiandae vitae provident quae, obcaecati ipsam unde impedit corrupti veritatis minima porro?</div>
        <div class="price">100$</div>
        <div class="review">4.5S</div>
      </div>

    

    </div>
  </div>


  
  <div class="footer">
    Node js
  </div>
</body>
</html>
</body>
</html>